<app-header></app-header>
<app-left-side></app-left-side>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Homenageado
      <small>Cadastrar novo homenageado</small>
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-user"></i> <a href="/homenageado">Homenageado</a></li>
      <li><i class="fa fa-plus active"></i> Novo</li>
    </ol>
  </section>

  <section class="content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-homenageado></app-homenageado>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
<app-control-sidebar></app-control-sidebar>