<!--<table id="datatable" class="row-border hover">
  <thead>
    <tr>
      <th *ngFor="let c of columns; let i = index;">{{c}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data; let i = index;">
      <td>{{d.nome}}</td>
      <td>{{d.apelido}}</td>
      <td>{{d.email}}</td>
      <td>{{d.phone}}</td>
    </tr>
  </tbody>
</table>
-->
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-4 pull-right">
        <input #gb type="text" class="form-control" pInputText placeholder="Pesquise por qualquer campo da tabela">
    </div>
  </div>
  <div class="col-sm-12">
      <ay-treeTable [globalFilter]="gb" [value]="data" [styleClass]="table-border"
          [paginator]="true" [rows]="5" [pageLinks]="3" [rowsPerPageOptions]="[5, 10, 20]"
          [totalRecords]="5" [immutable]="true">
        <ay-column field="name" header="Name"></ay-column>
        <ay-column field="gender" header="Gender"></ay-column>
      </ay-treeTable>
  </div>
</div>